
<div class="container py-5">  
    <h3 class="text-center text-uppercase">List of Todo</h3>  
    <table class="table table-bordered table-striped">  
        <thead>  
            <tr class="text-center text-uppercase">  
                <th>ID</th>  
                <th>Desc</th>  
                <th>Date</th>  
                <th>Time</th>
            </tr>  
        </thead>  
        <tbody>  
            <tr *ngFor="let tds of tdItems">  
            <td>{{tds.id}}</td>  
            <td>{{tds.todoDesc}}</td>  
            <td>{{tds.todoDate}}</td>  
            <td>{{tds.todoTime}}</td>
            </tr>  
        </tbody>  
    </table>

    <mat-card *ngFor="let tds of tdItems" class="mt-1">
        <mat-card-header>
            <mat-card-title>
                {{tds.todoDate}}
            </mat-card-title>
            <mat-card-subtitle>
                {{tds.todoTime}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox class="multipleselect">
                <p class="mb-0">{{tds.todoDesc}} </p>
                <a [routerLink]="['/edittodo', tds.id]">Edit</a>
            </mat-checkbox>
        </mat-card-content>
    </mat-card>

    <nav class="text-center">
        <a routerLink="/createtodo">Create Todo</a>
        
    </nav>
</div>